<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efreport.mapper.SysUserdirMapper">

    <resultMap id="sysUserdirMap" type="com.efreport.entity.SysUserdir">
        <id column="ID" property="id"></id>
        <result column="USER_ID" property="userId"></result>
        <result column="temp_dir_name" property="tempDirName"></result>
        <result column="PID" property="pid"></result>
    </resultMap>


    <select id="getById" parameterType="Integer" resultMap="sysUserdirMap">
      SELECT * FROM EF_SYS_USERDIr WHERE id=#{id}
    </select>

    <!-- 查询所有纪录 -->
    <select id="getAllList" resultMap="sysUserdirMap">
      SELECT * FROM EF_SYS_USERDIr WHERE 1=1
    </select>

    <select id="getListByUserId" parameterType="Integer" resultMap="sysUserdirMap">
      SELECT * FROM EF_SYS_USERDIr WHERE 1=1 and USER_ID = #{userId}
    </select>


    <select id="getListByUserIdAndTempName" parameterType="map" resultMap="sysUserdirMap">
      SELECT distinct ud.* FROM
      EF_SYS_USERDIR ud,
      EF_SYS_USERTEMPDIR utd,
      sys_template tp
      where
      ud.id=utd.tempdir_id
      and utd.tempid=tp.id
      and ud.USER_ID = #{userId}
        and tp.name like #{tempname} and tp.client_type in ('11','01')
    </select>


    <insert id="addSysUserdir" parameterType="com.efreport.entity.SysUserdir">
        insert into EF_SYS_USERDIr(USER_ID,temp_dir_name,PID) values(#{userId},#{tempDirName},#{pid})
    </insert>

    <!-- 修改 -->
    <update id="updateSysUserdir" parameterType="com.efreport.entity.SysUserdir">
      UPDATE EF_SYS_USERDIr SET temp_dir_name = #{tempDirName} where id=#{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from EF_SYS_USERDIr where id=#{id}
    </delete>

    <delete id="deleteByUserId" parameterType="Integer">
        delete from EF_SYS_USERDIr where USER_ID=#{userId}
    </delete>
</mapper>